extends layout.pug

block content
  .wrapper.wrapper--nobackground
    include ./common/headers/header-author.pug
    main.main-page.main-page--padding
      section.main-page__notes.notes
        h1.notes__title Мои записи
        ul.notes__list
          each article, index in articles
            li.notes__list-item(class=(articles.length -1 === index) && "notes__list-item--last")
              time.notes__item-time(datetime='2019-03-21T20:33') #{article.date}
              a.notes__item-text(href='/articles/edit/' + article.id) #{article.title}
              button.notes__button.button.button--close-item(type='button')
                span.visually-hidden Закрыть строку списка
    include ./common/footer.pug