extends layout.pug

block content 
  .wrapper-color
    include ./common/headers/header-author.pug
    main
      section.search-page
        .search-page__wrapper
          h1 Поиск
          .search.search-page__form
            form(action='search' method='get')
              label
                input(type='text' name='search' placeholder='Что ищем?')
              button.search__button.button.button--transparent(type='submit') Найти
            if searcedArticles
              include ./search/search-result.pug
            if !searcedArticles  
              include ./search/search-empty.pug

    include ./common/footer.pug